[page-review-content]{
	--background: url("../../../assets/images/background/bg-01.png") no-repeat center center / cover;
}

	ion-card{opacity:0.9; padding-top:1em; margin-top: 0.5em;}
	.subtitle{margin-top: 12px !important;margin-bottom: 2px !important;}
	.price {color:#d72828;font-weight:600}
	.product-data p, .product-data h2, .product-data h3, product-data h4{ margin-top: 0 !important; margin-bottom: 0 !important;}

