
<ion-header page-billing-address-header class="page-billing-address-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="account"></ion-back-button>
		</ion-buttons>
		<ion-title>Account</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>


<ion-content page-billing-address-content class="page-billing-address-content " >
	
	<ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	
	
	<form [formGroup]="formBilling">
	<ion-list-header *ngIf="dataCountries.length != 0">
		<ion-text color="primary">Billing Address</ion-text>
	</ion-list-header>
		
		<ion-list lines="full" class="ion-no-margin ion-no-padding" *ngIf="dataCountries.length != 0">
		
			<ion-item>
				<ion-label position="stacked">First Name<ion-text color="danger">*</ion-text></ion-label>
				<ion-input formControlName="first_name" type="text" placeholder="Ahmad"></ion-input>
			</ion-item>
		
			<ion-item>
				<ion-label position="stacked">Last Name</ion-label>
				<ion-input formControlName="last_name" type="text" placeholder="Jhony"></ion-input>
			</ion-item>
		
			<ion-item>
				<ion-label position="stacked">Address<ion-text color="danger">*</ion-text></ion-label>
				<ion-input formControlName="address_1" type="text" placeholder="Address 1"></ion-input>
				<ion-input formControlName="address_2" type="text" placeholder="Address 2"></ion-input>
			</ion-item>
		
			<ion-item lines="none">
				<ion-label position="floating">Country<ion-text color="danger">*</ion-text></ion-label>
				<ion-select formControlName="country" #country placeholder="Choose Your Country" (ionChange)="updateStates(country.value)" okText="OK" cancelText="Cancel">
					<ion-select-option *ngFor="let item of dataCountries" [value]="item.code" [innerHTML]="item.name" ></ion-select-option>
				</ion-select>
			</ion-item>
		
			<ion-item  *ngIf="dataStates.length != 0" >
				<ion-label position="floating">State</ion-label>
				<ion-select formControlName="state" placeholder="Choose Your State" okText="OK" cancelText="Cancel">
					<ion-select-option *ngFor="let item of dataStates" [value]="item.code" [innerHTML]="item.name" ></ion-select-option>
				</ion-select>
			</ion-item>
		
			<ion-item>
				<ion-label position="floating">City<ion-text color="danger">*</ion-text></ion-label>
				<ion-input formControlName="city" type="text" placeholder="West Pasaman"></ion-input>
			</ion-item>
		
			<ion-item>
				<ion-label position="floating">Postcode<ion-text color="danger">*</ion-text></ion-label>
				<ion-input formControlName="postcode" type="text" placeholder="12345678"></ion-input>
			</ion-item>
		
			<ion-item>
				<ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
				<ion-input formControlName="email" type="email" placeholder="your@domain.com"></ion-input>
			</ion-item>
		
			<ion-item>
				<ion-label position="floating">Phone<ion-text color="danger">*</ion-text></ion-label>
				<ion-input formControlName="phone" type="tel" placeholder="612345678"></ion-input>
			</ion-item>
		
			<ion-item>
				<ion-button slot="end" size="normal" (click)="saveBilling()" color="primary">Save</ion-button>
			</ion-item>
		</ion-list>
		<ion-list lines="full" class="ion-no-margin ion-no-padding" *ngIf="dataCountries.length == 0">
			<ion-item *ngFor="let x of [1,2,3,4,5]">
				<ion-skeleton-text animated></ion-skeleton-text>
				<ion-skeleton-text animated></ion-skeleton-text>
			</ion-item>
		</ion-list>
	</form>

</ion-content>
<ion-footer>
		<ion-toolbar>
			<ion-tabs>
				<ion-tab-bar slot="bottom">
					
					<ion-tab-button [routerDirection]="'root'" [routerLink]="['/home']">
						<ion-label color="primary">Home</ion-label>
						<ion-icon color="primary" name="home-outline"></ion-icon>
					</ion-tab-button>
					
					<ion-tab-button [routerDirection]="'root'" [routerLink]="['/products-by-category/0']">
						<ion-label color="primary">Products</ion-label>
						<ion-icon color="primary" name="wine-outline"></ion-icon>
					</ion-tab-button>
					
					
					<ion-tab-button [routerDirection]="'root'" [routerLink]="['/wishlist']">
						<ion-label color="primary">Wishlist</ion-label>
						<ion-icon color="primary" name="heart-circle"></ion-icon>
						<ion-badge *ngIf="count_wishlist!=0" color="danger">{{ count_wishlist }}</ion-badge>
					</ion-tab-button>
					
					<ion-tab-button  [routerDirection]="'root'" [routerLink]="['/cart']">
						<ion-label color="primary">Cart</ion-label>
						<ion-icon color="primary" name="cart-outline"></ion-icon>
						<ion-badge *ngIf="count_cart!=0" color="danger">{{ count_cart }}</ion-badge>
					</ion-tab-button>
					
					<ion-tab-button [routerDirection]="'root'" [routerLink]="['/account']">
						<ion-label color="primary">Account</ion-label>
						<ion-icon color="primary" name="person-outline"></ion-icon>
					</ion-tab-button>
					
				</ion-tab-bar>
			</ion-tabs>
		</ion-toolbar>

</ion-footer>
