[page-payment-content]{
	--background: url("../../../assets/images/background/bg-01.png") no-repeat center center / cover;
}

	ion-list-header{margin-top: .5em;font-variant: petite-caps;padding-top: 0;padding-bottom:0;font-size: 1.2em;background-color: #fff;opacity:0.9;font-weight: 600;}
	ion-list-header ion-text{padding-top: 0.5em;padding-bottom: 0.5em;}

